menuconfig UNIKERNEL_LINUX
	bool "Unikernel Linux"
	depends on X86_64 && !RANDOMIZE_BASE && !PAGE_TABLE_ISOLATION
	help
	    Unikernel Linux allows for a single, privileged process to be
	    linked with the kernel binary and be executed inplace of or
	    along side a more traditional user space.

	    If you don't know what this is, say N.

config UKL_TLS
	bool "Enable TLS for UKL application"
	depends on UNIKERNEL_LINUX
	default Y
	help
	    Not all applications will make use of thread local storage,
	    but we need to account for it in the linker script if used.
	    For the application in samples/ this should be disabled, but
	    if you are working with glibc this should be 'Y'.

	    If unsure say 'Y' here

config UKL_NAME
	string "UKL Exec target"
	depends on UNIKERNEL_LINUX
	default "/data/UKL"
	help
	    We need a way to trigger the start of the UKL application,
	    either by the kernel inplace of init or userspace when setup
	    is finished. The value given here is compared against the
	    filename passed to exec and if they match UKL is started.
	    For a more 'traditional' unikernel model, the value set here
	    should be given to the init= boot parameter.

config UKL_USE_RET
	bool "UKL use RET instead of IRET"
	depends on UNIKERNEL_LINUX
	help
	    Use a RET instruction to return to the UKL user code after a fault
	    or an interrupt.

config UKL_DEEP_SHORTCUT
	bool "Enable the UKL deep shortcutting library"
	depends on UNIKERNEL_LINUX && INET
	help
	    The UKL deep shortcutting library adds glue code for calling deep
	    into kernel subsystems, skipping kernel polymorphism. We have
	    implemented functions to call TCP send and receive using the same
	    arguments as write and read from userspace (our funcitons simply
	    do the transformations needed) but others could be added.
